@charset "UTF-8";
@font-face {
  font-family: 'Cormorant Garamond';
  src: url("../font/CormorantGaramond-SemiBoldItalic.ttf");
  font-weight: bold;
}

.en {
  font-family: 'Cormorant Garamond', sans-serif;
  font-weight: bold;
}

.mv {
  height: 31.5rem;
  background-image: url("../img/mainsp.jpg");
  background-size: cover;
  background-position: center;
  padding: 4rem 0 0;
}

@media screen and (min-width: 768px) {
  .mv {
    height: 50rem;
  }
}

.mv .mvImg {
  padding: 2rem 0;
}

.mv .mvImg img {
  width: 26.2rem;
  height: 9.2rem;
  margin: 0 auto;
}

.mv p:nth-of-type(2n+1) {
  font-size: 1.8rem;
  line-height: 1.4;
  letter-spacing: 0.4rem;
}

.mv p:nth-of-type(2n) {
  font-size: 1.5rem;
}

.conversion {
  padding: 3rem 0;
  background: #ebb94d;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

.conversion > p {
  margin-bottom: 2rem;
  letter-spacing: 0.1rem;
}

.conversion .conversionAttention p code {
  background-color: #f9f2f4;
  color: #c7254e;
  border-radius: 0.3rem;
  padding: 0 0.4rem;
  font-size: 1.4rem;
  font-weight: normal;
}

.conversion .conversionContact {
  padding: 3rem 2rem;
}

.conversion .conversionContact .conversionContactButton {
  border-radius: 5rem;
  background-color: #da6b64;
}

.conversion .conversionContact .conversionContactButton :hover {
  background-color: #c7254e;
  border-radius: 5rem;
}

.conversion .conversionContact .conversionContactButton a {
  padding: 2rem 0;
}

.sectionTitle {
  width: 95%;
  margin: 0 auto;
  position: relative;
  font-size: 1.8rem;
  line-height: 2;
  padding: 2rem 0;
  margin-bottom: 3rem;
}

.sectionTitle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3rem;
  height: 3rem;
  border-top: 0.4rem solid #ebb94d;
  border-left: 0.4rem solid #ebb94d;
  box-sizing: border-box;
}

.sectionTitle::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 3rem;
  height: 3rem;
  border-bottom: 0.4rem solid #ebb94d;
  border-right: 0.4rem solid #ebb94d;
}

.introduction {
  padding: 4rem 1rem;
  background-image: url("../img/introbottom.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.introduction .introductionTxt p {
  margin-bottom: 2rem;
  line-height: 1.5;
}

.introduction .introductionTxt p span {
  background: linear-gradient(to top, #ebb94d 0% 30%, transparent 50% 100%);
}

.about {
  padding: 7rem 0 0;
  background: #fef5e0;
  position: relative;
}

.about .aboutCircle {
  position: absolute;
  top: -3.5rem;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  width: 7rem;
  height: 7rem;
  background: #ebb94d;
  border-radius: 5rem;
}

.about .aboutCircle p {
  margin-top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  color: #fff;
  font-size: 1.2rem;
}

.about .aboutIsara {
  padding: 3rem 1rem 7rem;
}

.about .aboutIsara .aboutIsaraBox {
  background: #fff;
  border: 0.2rem solid #ebb94d;
  border-radius: 0.5rem;
  padding: 1rem;
}

.about .aboutIsara .aboutIsaraBoxContents {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3rem 0;
}

.about .aboutIsara .aboutIsaraBoxContents .aboutIsaraBoxContent {
  width: 130px;
  height: 150px;
  padding: 80px 5px 0;
  position: relative;
}

.about .aboutIsara .aboutIsaraBoxContents .aboutIsaraBoxContent img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.about .aboutIsara .aboutIsaraBoxContents .aboutIsaraBoxContent:nth-child(1) img {
  width: 60px;
}

.about .aboutIsara .aboutIsaraBoxContents .aboutIsaraBoxContent:nth-child(2) img {
  width: 60px;
}

.about .aboutIsara .aboutIsaraBoxContents .aboutIsaraBoxContent:nth-child(3) img {
  width: 60px;
}

.about .aboutIsara .aboutIsaraBoxContents .aboutIsaraBoxContent:nth-child(4) img {
  width: 60px;
}

.about .aboutIsara .aboutIsaraBoxContents .aboutIsaraBoxContent:nth-child(5) img {
  width: 120px;
}

.about .aboutIsara .aboutIsaraBoxContents .aboutIsaraBoxContent p {
  font-size: 12px;
}

.about .aboutStep {
  background-image: url("../img/aboutsecondbgsp.jpg");
  background-position: center;
  background-size: cover;
  padding: 5rem 0;
}

.about .aboutStep > p {
  color: #fff;
  margin-bottom: 2rem;
  font-weight: bold;
}

.about .aboutStep > p:nth-child(1) {
  font-size: 1.8rem;
}

.about .aboutStep > p:nth-child(2) {
  font-size: 1.2rem;
}

.about .aboutStep > p:nth-child(3) {
  font-size: 1.2rem;
}

.about .aboutStep .aboutStepContent {
  padding: 1rem 0;
  margin: 1rem auto;
  background: #fff;
  border-radius: 0.3rem;
  width: 80%;
}

.about .aboutStep .aboutStepContent p:nth-child(1) {
  background: #ebb94d;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: bold;
  width: 80%;
  margin: 0 auto 1rem;
  line-height: 1.5;
  color: #fff;
}

.about .aboutStep .aboutStepContent p:nth-child(2) {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.about .aboutStep .aboutStepContent p:nth-child(3) {
  font-size: 1rem;
  font-weight: bold;
}

.about .aboutBottom {
  background-color: #016ea9;
  padding: 2rem 0;
}

.about .aboutBottom p {
  font-size: 1rem;
  color: #fff;
}

.about .aboutBottom p span {
  color: #ebb94d;
}

.learning {
  padding: 5rem 0;
}

.learning p {
  font-size: 1.2rem;
}

.learning p:nth-child(1) {
  font-size: 1.3rem;
  margin-bottom: 4rem;
}

.learning p:nth-child(2) {
  line-height: 1.6;
}

.learning .learningContents {
  display: flex;
  justify-content: center;
}

.learning .learningContents .learningContent {
  width: 5rem;
  margin: 1.5rem 0.5rem;
}

.merit {
  background: #fef5e0;
  padding: 0 0 3rem;
}

.merit .sectionTitle p {
  font-size: 1.3rem;
}

.merit .sectionTitle p:nth-child(2) {
  font-size: 1.5rem;
}

.merit .meritContents {
  padding: 1rem;
}

.merit .meritContents .meritContent {
  margin: 2rem 0;
}

.merit .meritContents .meritContent img {
  height: 15rem;
}

.merit .meritContents .meritContent p {
  margin: 2rem 0 0;
  padding: 0 2rem 0;
}

.merit .meritContents .meritContent p:nth-child(2) {
  font-weight: bold;
  color: #ebb94d;
}

.merit .meritContents .meritContent p:nth-child(3) {
  font-size: 1.2rem;
  text-align: left;
}

.merit .meritSupport {
  padding: 1rem;
}

.merit .meritSupport .meritSupportBox {
  padding: 1rem;
  background-color: #fff;
  border: 0.2rem solid #ebb94d;
  border-radius: 0.5rem;
}

.merit .meritSupport .meritSupportBox p {
  font-weight: bold;
  margin: 2rem 0 0;
  line-height: 1.8;
}

.merit .meritSupport .meritSupportBox p:nth-child(1) {
  font-size: 1.8rem;
  color: #ebb94d;
}

.merit .meritSupport .meritSupportBox p:nth-child(2) {
  font-size: 1.5rem;
}

.merit .meritSupport .meritSupportBox p:nth-child(3) {
  font-size: 1.0rem;
}

.merit .meritButtom {
  padding: 0 1rem 0;
  font-size: 1.2rem;
}

.teacher {
  background-image: url("../img/teacherbgsp.jpg");
  background-position: center;
  background-size: cover;
  padding: 5rem 1rem 2rem;
  color: #fff;
}

.teacher > p {
  margin: 1rem 0;
}

.teacher > p:nth-child(1) {
  font-size: 1.6rem;
}

.teacher > p:nth-child(2) {
  font-size: 1.2rem;
}

.teacher .teacherBox {
  font-size: 1.2rem;
  padding: 8rem 0 0;
}

.teacher .teacherBox .teacherBoxMember {
  padding: 5rem 2rem 2rem;
  border: 0.2rem solid #fff;
  margin: 2rem 0 10rem;
  position: relative;
}

.teacher .teacherBox .teacherBoxMember img {
  position: absolute;
  top: -9rem;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  width: 12rem;
  border-radius: 50%;
}

.teacher .teacherBox .teacherBoxMember p {
  margin: 0 0 1rem;
}

.teacher .teacherBox .teacherBoxMember p:nth-child(4) {
  text-align: left;
}

.why {
  background-color: #ebb94d;
  padding: 2rem 0;
  position: relative;
}

.why .whyCircle {
  width: 7rem;
  height: 7rem;
  background: #fff;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
}

.why .whyCircle p {
  color: #ebb94d;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.why:after {
  content: "";
  height: 0;
  position: absolute;
  width: 0;
  border: 1.5rem solid transparent;
  border-top-color: #ebb94d;
  top: 100%;
  left: 50%;
  margin-left: -1.5rem;
}

.sectionTitle2 {
  width: 95%;
  margin: 0 auto;
  position: relative;
  font-size: 1.6rem;
  line-height: 2;
  padding: 2rem 0;
  margin-bottom: 3rem;
  color: #fff;
}

.sectionTitle2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3rem;
  height: 3rem;
  border-top: 0.4rem solid #fff;
  border-left: 0.4rem solid #fff;
  box-sizing: border-box;
}

.sectionTitle2::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 3rem;
  height: 3rem;
  border-bottom: 0.4rem solid #fff;
  border-right: 0.4rem solid #fff;
}

.answer {
  padding: 5rem 0;
}

.answer > p {
  margin: 0 0 1rem;
}

.answer > p:nth-child(1) {
  font-size: 1.6rem;
}

.answer > p:nth-child(2) {
  margin: 0 0 4rem;
}

.answer > p:nth-child(3) {
  margin: 0 0 4rem;
}

.answer .answerMessage {
  padding: 1rem;
}

.answer .answerMessage .answerMessageContent {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

.answer .answerMessage .answerMessageContent .answerMessageContentImg {
  width: 8rem;
  height: 8rem;
  padding: 0.1rem;
  background-color: #ebb94d;
  margin-right: 1rem;
}

.answer .answerMessage .answerMessageContent .answerMessageContentComment {
  width: 70%;
  text-align: left;
}

.answer .answerMessage .answerMessageContent .answerMessageContentComment p {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.answer .answerMessage .answerMessageContent .answerMessageContentComment p:nth-child(2) {
  font-size: 1.2rem;
  text-decoration: underline;
}

.class {
  background-image: url("../img/classbgsp.jpg");
  background-position: center;
  background-size: cover;
  padding: 4rem 0 0;
}

.class > p {
  color: #fff;
  font-weight: bold;
}

.class > p:nth-child(1) {
  font-size: 1.6rem;
}

.class > p:nth-child(2) {
  font-size: 1.2rem;
  margin: 2rem 0 0;
}

.class .classContents {
  padding: 5rem 1rem;
}

.class .classContents .classContent {
  padding: 2rem 0.2rem 0.2rem;
  font-weight: bold;
  background: #016ea9;
  margin: 0 0 2rem;
  border-radius: 0.5rem 0.5rem 0 0;
}

.class .classContents .classContent p {
  margin: 0 0 2rem;
  color: #fff;
}

.class .classContents .classContent ul {
  background: #fff;
}

.class .classContents .classContent ul li {
  text-align: center;
  border: 0.1rem solid #e5e5e5;
  padding: 1.5rem 0;
  font-size: 1.2rem;
}

.class .classBottom {
  background: #016ea9;
  padding: 2rem 0;
  color: #fff;
}

.flow {
  padding: 4rem 0;
}

.flow > p {
  font-size: 1.6rem;
}

.flow .flowContents {
  padding: 4rem 1rem 0;
}

.flow .flowContents .flowContent {
  background-color: #fef5e0;
  margin-bottom: 1rem;
}

.flow .flowContents .flowContent .flowContentLeft {
  padding: 1rem;
  display: flex;
}

.flow .flowContents .flowContent .flowContentLeft img {
  height: 3.5rem;
  width: 3.5rem;
}

.flow .flowContents .flowContent .flowContentLeft p {
  line-height: 3.5rem;
  margin: 0 0 0 2rem;
  font-weight: bold;
}

.flow .flowContents .flowContent .flowContentRight {
  padding: 1rem;
  text-align: left;
}

.flow .flowContents .flowContent .flowContentRight p {
  font-size: 1rem;
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

.bangkok {
  background-image: url("../img/bangkokbgsp.jpg");
  background-size: cover;
  background-position: center;
  padding: 4rem 3rem 3rem;
  color: #fff;
}

.bangkok > p {
  margin: 0 0 2rem;
}

.bangkok > p:nth-child(1) {
  font-size: 1.8rem;
  text-align: center;
}

.bangkok > p:nth-child(2) {
  font-size: 1rem;
}

.bangkok ul {
  padding: 0 0 1rem 1rem;
  font-weight: bold;
  font-size: 1rem;
}

.bangkok ul li {
  margin: 0 0 1rem;
  padding: 0 0 0 0.5em;
  list-style: disc;
}

.special {
  background: #ebb94d;
  padding: 2rem 1rem 3rem;
}

.special > p {
  margin: 2rem 0;
}

.special > p:nth-child(1) {
  font-size: 1.6rem;
}

.special > p:nth-child(2) {
  font-size: 1rem;
  margin-bottom: 5rem;
}

.special > p span {
  color: #fff;
}

.special .specialBox {
  padding: 5rem 0;
  border: 0.2rem solid #fff;
  position: relative;
}

.special .specialBox .specialBoxTitle {
  position: absolute;
  background: #ebb94d;
  padding: 1rem 2rem;
  width: 20rem;
  top: -3rem;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  line-height: 1.8;
}

.special .specialBox .specialBoxContent {
  display: flex;
  padding: 1rem;
}

.special .specialBox .specialBoxContent .specialBoxContentCircle {
  width: 6rem;
  height: 6rem;
  background: #fff;
  border-radius: 50%;
  margin: 0 2rem 0 0;
}

.special .specialBox .specialBoxContent .specialBoxContentCircle p {
  margin-top: 3rem;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  font-size: 1.2rem;
  color: #ebb94d;
}

.special .specialBox .specialBoxContent > p {
  padding: 1rem 0 0;
  text-align: left;
  width: 20rem;
  font-size: 1.2rem;
  color: #fff;
}

.detail {
  padding: 3rem 0;
  color: #fff;
  background-image: url("../img/specialdetail.jpg");
  background-position: center;
  background-size: cover;
}

.detail > p {
  padding: 0 3rem;
  margin: 0 0 2rem;
  font-size: 1.2rem;
}

.detail > p:nth-child(1) {
  font-size: 1.6rem;
}

.message {
  padding: 4rem 1.5rem;
}

.message > p {
  margin: 1.5rem 0;
}

.message > p:nth-child(1) {
  font-size: 1.8rem;
  margin: 0 0 5rem;
}

.message > p:nth-child(2) {
  font-size: 1.6rem;
}

.message .messageContent {
  text-align: left;
}

.message .messageContent ul {
  padding: 0 2rem;
}

.message .messageContent ul li {
  margin: 0.5rem 0;
  list-style: disc;
}

.message .messageContent p {
  margin: 1.5rem 0;
  line-height: 1.5;
}

.contact {
  background: #ebb94d;
  padding: 4rem 2rem;
}

.contact form > p {
  margin: 2rem 0;
  color: #000;
}

.contact form > p:nth-child(1) {
  font-size: 1.6rem;
}

.contact form > p:nth-child(2) {
  font-size: 1.2rem;
}

.contact form .Form-Item input {
  width: 100%;
  padding: 1.5rem 0.6rem;
  border-radius: 0.3rem;
  margin: 1rem 0;
}

.contact form .Form-Item input[type="text"] {
  border: none;
}

.contact form .Form-Item input[type="text"]:focus {
  border: 1px solid #ff9900;
  outline: 0;
}

.contact form .Form-Item input[type="email"] {
  border: none;
}

.contact form .Form-Item input[type="email"]:focus {
  border: 1px solid #ff9900;
  outline: 0;
}

.contact form .Form-Item textarea {
  width: 100%;
  height: 10rem;
  border: none;
  margin: 3rem 0 4rem;
  padding: 0.5rem;
}

.contact form input[type="submit"] {
  background: #da6b64;
  border: none;
  text-decoration: none;
  padding: 2rem 8rem;
  border-radius: 5rem;
  color: #fff;
  font-size: 1.6rem;
}

.questions {
  padding: 5rem 0 0;
}

.questions > p {
  font-size: 1.6rem;
}

.questions .questionsBox {
  padding: 3rem 1.5rem;
}

.questions .questionsBox .question {
  margin: 0 0 0.5rem;
  text-align: left;
  font-weight: bold;
}

.questions .questionsBox .question .slide-down {
  font-size: 1.2rem;
  width: 100%;
  padding: 1.5rem 2rem;
  border: 0.1rem solid #e5e5e5;
  border-radius: 0.3rem;
  position: relative;
}

.questions .questionsBox .question .slide-1,
.questions .questionsBox .question .slide-2,
.questions .questionsBox .question .slide-3,
.questions .questionsBox .question .slide-4,
.questions .questionsBox .question .slide-5,
.questions .questionsBox .question .slide-6,
.questions .questionsBox .question .slide-7,
.questions .questionsBox .question .slide-8,
.questions .questionsBox .question .slide-9,
.questions .questionsBox .question .slide-10,
.questions .questionsBox .question .slide-11,
.questions .questionsBox .question .slide-12,
.questions .questionsBox .question .slide-13,
.questions .questionsBox .question .slide-14 {
  width: 100%;
  margin: 0 auto;
  padding: 2rem 2rem;
  display: none;
  font-size: 1.2rem;
}

.slide-down:after {
  position: absolute;
  right: 1.2rem;
  content: "　▼";
  color: #e5e5e5;
}

.active:after {
  content: "　▲";
  color: #e5e5e5;
}
