@charset "UTF-8";
@font-face {
  font-family: 'Cormorant Garamond';
  src: url("../font/CormorantGaramond-SemiBoldItalic.ttf");
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

.en {
  font-family: 'Cormorant Garamond', sans-serif;
  font-weight: bold;
}

html {
  font-size: 2.6666666666vw;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 10px;
  }
}

body {
  font-size: 1.4rem;
  line-height: 2.14285714286;
}

.wrapper {
  padding: 0 0;
}

.mySection {
  position: relative;
  padding: 10rem 2rem;
}

.myHeader {
  padding: 1.6rem 1.5rem;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 6rem;
  position: fixed;
  text-align: right;
  z-index: 30;
}

@media screen and (min-width: 1000px) {
  .myHeader {
    padding: 0 0;
    justify-content: space-evenly;
    min-height: 10rem;
    height: auto;
  }
}

.hamburger {
  width: 4rem;
  height: 100%;
}

@media screen and (min-width: 1000px) {
  .hamburger {
    padding: 0 0;
    justify-content: space-evenly;
    min-height: 10rem;
    height: auto;
  }
}

.hamburger .container {
  position: relative;
  height: 100%;
  width: 100%;
}

.hamburger span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4rem;
  height: 0.1rem;
  transition: 0.5s;
  transform: translateX(-50%);
  background-color: #000;
}

.hamburger span:nth-of-type(1) {
  top: calc(50% - 5px);
}

.hamburger span:nth-of-type(2) {
  top: calc(50% + 5px);
}

.hamburger.show span:nth-of-type(1) {
  transform: translateX(-50%) rotate(340deg);
  top: 50%;
}

.hamburger.show span:nth-of-type(2) {
  top: 50%;
  transform: translateX(-50%) rotate(-340deg);
}

.myGlobalNav {
  opacity: 0;
  transition: 0.5s;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  height: 100vh;
  width: 100vw;
  background: rgba(77, 77, 77, 0.8);
  padding: 10rem 0;
  overflow-y: scroll;
  color: var(--c2);
}

.myGlobalNav.show {
  opacity: 1;
}

.globalNavListItem {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 3rem;
  margin: 0 0 4rem;
  text-align: center;
}

.globalNavListItemChildren {
  margin: 2rem 0 0;
}

.globalNavListItemChildrenItem {
  margin: 0 0 2rem;
  font-weight: normal;
}

.globalNavListItemChildrenItem:last-of-type {
  margin: 0;
}

.globalNavListItemChildrenChildren {
  color: var(--c6);
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 0 0;
}

.globalNavListItemChildrenChildrenItem {
  width: 50%;
  position: relative;
  padding: 0 0 0 1em;
}

.globalNavListItemChildrenChildrenItem:before {
  content: "";
  display: block;
  width: 0.5em;
  height: 0.1rem;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  background: var(--c6);
}

.headerNav {
  display: none;
}

@media screen and (min-width: 1000px) {
  .headerNav {
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}

.headerNavList {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  /*height: 100%;*/
  /*padding: 3rem 0 0;*/
}

.headerNavListItem {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0 0 0 3rem;
  position: relative;
}

.headerNavListItem,
.headerNavListItem > a {
  height: 3rem;
  display: flex;
  align-items: center;
}

.headerNavListItem a {
  position: relative;
}

.headerNavListItem a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #004954;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}

.headerNavListItem a:hover::after {
  transform: scale(1, 1);
}

.headerNavListItemChildren {
  height: 0;
  overflow: hidden;
  opacity: 0;
  padding: 0 2.5rem;
  transition: 0.5s;
  position: absolute;
  width: 22rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 42, 108, 0.2);
  background: black;
  left: 50%;
  transform: translateX(-50%);
  top: 6rem;
}

.headerNavListItem:hover .headerNavListItemChildren {
  height: auto;
  /*サブメニューの高さ*/
  overflow: visible;
  opacity: 1;
  transition: 0.5s;
  padding: 1.5rem 2.5rem;
}

.myFooter {
  text-align: center;
}

/* .footerAd {
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: 0.12rem;
    color: #fff;
    margin: 0 0 3.3rem;
} */
.footerContact {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--c1);
  height: 5rem;
  line-height: 5rem;
  width: 24rem;
  margin: 0 auto;
  background: #fff;
  transition: 0.5s;
  border-radius: 5rem;
}

.footerContact:hover {
  height: 6rem;
  line-height: 6rem;
  width: 26rem;
}

.footerContent1 {
  background: rgba(0, 0, 0, 0.1);
  padding: 5rem 0;
}

@media screen and (min-width: 1000px) {
  .footerContent1 {
    padding: 8rem;
  }
}

.footerContent2 {
  padding: 6.1rem 0 3rem;
}

@media screen and (min-width: 1000px) {
  .footerContent2 {
    padding: 7.3rem 0 6rem;
  }
}

.footerInformation {
  font-size: 1.4rem;
  line-height: 2.4rem;
  margin: 0 0 3.9rem;
}

.footerCR {
  font-size: 1.2rem;
}

@media screen and (min-width: 1000px) {
  .footerCR {
    font-size: 1.4rem;
    margin: 4.2rem 0 0;
  }
}

@media screen and (min-width: 1000px) {
  .footerInformation {
    text-align: left;
  }
  .footerContent2MainNav {
    display: flex;
    /*max-width: 65.4rem;*/
    /*flex-wrap: wrap;*/
  }
  .footerContent2MainNavList {
    display: flex;
  }
  .footerContent2MainNavList a {
    height: auto;
  }
  .footerContent2MainNavListItem {
    margin: 0 0 0 3rem;
    font-weight: bold;
  }
  .footerContent2MainNavListItem > p,
  .footerContent2MainNavListItem > a > p {
    margin: 0 0 1.6rem;
    height: 3rem;
  }
  .footerContent2MainNavListItemChildren {
    margin: 0 0 1.6rem;
    font-weight: normal;
  }
  .footerContent2MainNavListItemChildrenItem {
    margin: 0 0 1.6rem;
  }
  .footerContent2MainNavListItemChildrenItem:last-of-type {
    margin: 0;
  }
  .footerContent2MainNavListItemChildrenItem > p,
  .footerContent2MainNavListItemChildrenItem > a > p {
    margin: 0 0 1.6rem;
  }
  .footerContent2MainNavListItemChildrenChildren {
    color: var(--c6);
  }
  .footerContent2MainNavListItemChildrenChildrenItem {
    position: relative;
    padding: 0 0 0 0.75em;
    margin: 0 0 1.6rem;
  }
  .footerContent2MainNavListItemChildrenChildrenItem:before {
    content: "";
    display: block;
    width: 0.4em;
    height: 0.1rem;
    left: 0;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    background: var(--c6);
  }
  .footerContent2MainNavListItemChildrenChildrenItem:last-of-type {
    margin: 0;
  }
}

/*target*/
.targetSituationListItem {
  margin: 0 0 5.5rem;
}

.targetSituationListItem:last-of-type {
  margin: 0;
}

/* returnTop */
#pagetop {
  display: inline-block;
  position: fixed;
  bottom: 3rem;
  right: 2rem;
}

#pagetop a {
  padding: .6rem 1.4rem;
  display: block;
  background: var(--c1);
  color: #fff;
  text-align: center;
  border-radius: 5rem;
}
