/*  *@font-face {
    font-family: 'NotoSansCJKjp';
    src: url('../font/NotoSansCJKjp-Regular_compressed.woff');
    font-weight: normal;
}
/* 斜体 */
/* @font-face {
    font-family: 'NotoSansCJKjp';
    src: url('../font/NotoSansCJKjp-Bold_compressed.woff');
    font-weight: bold;
}
*/
@font-face {
    font-family: 'Cormorant Garamond';
    src: url('../font/CormorantGaramond-SemiBoldItalic.ttf');
    font-weight: bold;
}

:root {
    /* Font/text values */
    --ja: 'NotoSansCJKjp', sans-serif;
    --en: 'Cormorant Garamond', sans-serif;
    --c1: #000;
    --c2: #F2FAFF;
    --c3: #fff;
    --c4: rgba(255,255,255,0.9);
    --c5: #DDDDDD;
    --c6: #000000;
    --c7: #83CFFF;
}

/*装飾関係*/
* {
    box-sizing: border-box;
}

.en {
    font-family: var(--en);
    font-weight: bold;
}

.back1 {
    background: var(--c3);
    color: var(--c1);
}

.back2 {
    background: var(--c2);
}       

.back3 {
    background: var(--c1);
}

.back4 {
    background-color: var(--c1);
}

.dl1 {
    font-weight: bold;
}

.dl1 dd {
    font-weight: normal;
}

.ul1 > li {
    padding: 0 0 0 1.3em;
    position: relative;
    font-weight: bold;
}

.ul1 > li:before {
    content: "";
    display: block;
    width: 1em;
    height: 1em;
    border-radius: 100%;
    background: #000;
    position: absolute;
    top: 0.7em;
    left: 0;
}


/*ベースレイアウト*/
html {
    font-size: 2.6666666666vw;
}

body {
    font-size: 1.4rem;
    font-family: var(--ja);
    line-height: 2.14285714286;

}

.wrapper {
    padding: 0 0 ;
}

.inner1 {
    padding: 0 2rem;
}

.inner2 {
    padding: 0 1.8rem;
}
.inner3 {
    padding: 0 3.3rem;
}


/*セクション関係*/
.mySection {
    position: relative;
    padding: 10rem 2rem;
}

/*パーツ関係*/
/*button*/
.myButton1 {
    width: 100%;
    height: 5rem;
    line-height: 5rem;
    font-size: 1.8rem;
    border: 1px solid var(--c1);
    border-radius: 5rem;
    margin: 0 auto;
    display: block;
    background: none;
    font-weight: bold;
    color: var(--c1);
    /* position: relative; */
    text-align: center;
}

.myButton1 a {
    text-decoration: none;
    color: var(--c1);
    padding: 0 2rem;
    transition: 0.5s;
}

/*header*/
.myHeader {
    padding: 1.6rem 1.5rem;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 6rem;
    position: fixed;
    text-align: right;
}

.hamburger {
    width: 4rem;
    height: 100%;
}

.hamburger .container {
    position: relative;
    height: 100%;
    width: 100%;
}

.hamburger span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4rem;
    height: 0.1rem;
    transition: 0.5s;
    transform: translateX(-50%);
    background-color: #000;
}

.hamburger span:nth-of-type(1) {
    top: calc(50% - 5px);
}

.hamburger span:nth-of-type(2) {
    top: calc(50% + 5px);
}

.hamburger.show span:nth-of-type(1) {
    transform: translateX(-50%) rotate(340deg);
    top: 50%;
}

.hamburger.show span:nth-of-type(2) {
    top: 50%;
    transform: translateX(-50%) rotate(-340deg);
}

.myGlobalNav {
    opacity: 0;
    transition: 0.5s;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    height: 100vh;
    width: 100vw;
    background: rgba(77, 77, 77, 0.8);
    padding: 10rem 0;
    overflow-y: scroll;
    color: var(--c2);
}

.myGlobalNav.show {
    opacity: 1;
}

.globalNavListItem {
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 3rem;
    margin: 0 0 4rem;
    text-align: center;
}

.globalNavListItemChildren {
    margin: 2rem 0 0;
}

.globalNavListItemChildrenItem {
    margin: 0 0 2rem;
    font-weight: normal;
}

.globalNavListItemChildrenItem:last-of-type {
    margin: 0;
}

.globalNavListItemChildrenChildren {
    color: var(--c6);
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0 0;
}

.globalNavListItemChildrenChildrenItem {
    width: 50%;
    position: relative;
    padding: 0 0 0 1em;
}

.globalNavListItemChildrenChildrenItem:before {
    content: "";
    display: block;
    width: 0.5em;
    height: 0.1rem;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    background: var(--c6);
}

/*archive*/
.articleList {
    border-top: 1px solid var(--c5);
}

.articleListItem {
    padding: 2rem 0 2.2rem;
    border-bottom: 1px solid var(--c5);
}

.articleListItemHeader {
    display: flex;
    margin: 0 0 0.7rem;
}

.articleListItemCategory {
    min-width: 9rem;
    height: 2.4rem;
    line-height: 2.4rem;
    margin: 0 1.5rem 0 0;
    text-align: center;
}

.articleListItemCategory a {
    padding: 0 1rem;
}

.articleListItemPublished {
    line-height: 2.4rem;
}

/*footer*/
.myFooter {
    text-align: center;
}

.footerContent1 {
    padding: 5rem 0;
}


/* .footerAd {
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: 0.12rem;
    color: #fff;
    margin: 0 0 3.3rem;
} */

.footerContact {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--c1);
    height: 5rem;
    line-height: 5rem;
    width: 24rem;
    margin: 0 auto;
    background: #fff;
    transition: 0.5s;
    border-radius: 5rem;
}

.footerContact:hover {
    height: 6rem;
    line-height: 6rem;
    width: 26rem;
}

.footerContent1 {
    background: rgba(0, 0, 0, 0.1);
}

.footerContent2 {
    padding: 6.1rem 0 3rem;
}

.footerLogo {
    width: 19.736rem;
    margin: 0 auto 3.416rem;
}

.footerInformation {
    font-size: 1.4rem;
    line-height: 2.4rem;
    margin: 0 0 3.9rem;
}

.footerCR {
    font-size: 1.2rem;
}

/*target*/
.targetSituationListItem {
    margin: 0 0 5.5rem;
}

.targetSituationListItem:last-of-type {
    margin: 0;
}

/* returnTop */
#pagetop {
    display:inline-block;
    position:fixed;
    bottom:3rem;
    right:2rem;
}
    
    
#pagetop a {
    padding:.6rem 1.4rem;
    display:block;
    background: var(--c1);
    color:#fff;
    text-align:center;
    border-radius: 5rem;
}
/* snsBtn */

/* ボタン全体 */
.flowbtn5{	
    border-radius:13px;		
    position:relative;
    display:inline-block;
    width:50px;
    height:50px;
    font-size:33px;
    color:#fff!important;
    transition:.5s;
    text-decoration:none;
}

/* アイコンをど真ん中に*/
.flowbtn5 i{
    position:absolute;
    top:50%;
    left:50%;
    -ms-transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
}
/* Twitter */
.fl_tw1{
    background:#55acee;
}

/* Facebook */
.fl_fb1{
    background:#3b5998;
}

/* Instagram紫グラデ背景色 */
.insta_btn5 {
    background:-webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
    background:linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;		
}
/* Instagramオレンジグラデ背景色 */
.insta_btn5:before{
    content: '';
    position:absolute;
    top:17px;
    left:-1px;
    width:45px;
    height:34px;
    background:-webkit-radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
    background:radial-gradient(#ffdb2c 5%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
}
/* Instagramアイコン調整 */
.insta_btn5 .fa-instagram{
    font-size:40px;	
}
/* アイコンボタン下テキスト調整 */
.flowbtn5 div{
    font-size:11px;
    color:#666;	
    position:relative;
    top:45px;
}
    /* アイコンボタンにマウスホバーした時の指定*/
.flowbtn5:hover{
    -webkit-transform:translateY(-5px);
    -ms-transform:translateY(-5px);
    transform:translateY(-5px);
    text-decoration:none;
}
/* ulタグの内側余白を０にする */
ul.snsbtniti{
    padding:0!important;
}
/* アイコンボタン全体の位置 */
.snsbtniti{
    display:flex;
    flex-flow:row wrap;
    justify-content:space-around;
}
/* アイコンボタン同士の余白調整 */
.snsbtniti li{
    flex:0 0 33%;
    text-align:center!important;
}

@media screen and (min-width :768px) {
    /*ベースレイアウト*/
    html {
        font-size: 10px;
    }

    body {
        font-size: 1.4rem;
    }

    /*target*/
    .targetSituationList {
        display: flex;
        justify-content: space-between;
    }

    .targetSituationListItem {
        margin: 0;
        width: 30%;
    }

    .targetSituationListItem .myButton2 {
        margin: 0 0 2rem;
    }

    .myButton1 {
        width: 50%;
        height: 6rem;
        line-height: 6rem;
        font-size: 1.8rem;
        display: block;
    }

}



@media screen and (min-width :1024px) {
    .inner1 {
        padding: 0 5rem;
    }

    .inner2 {
        padding: 0;
    }

    .inner3 {
        padding: 0;
    }

    .myButton3 {
        width: 50%;
    }

    /*セクション関係*/
    .sectionInner {
        max-width: 136.6rem;
        margin: 0 auto;
    }

    /*パーツ関係*/
    /*header*/
    .myHeader {
        padding: 0 0  ;
        justify-content: space-evenly;
        min-height: 10rem;
        height: auto;
    }

    .hamburger {
        display: none;
    }

    .headerNav {
        display: flex !important;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .headerNavList {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
        /*height: 100%;*/
        /*padding: 3rem 0 0;*/
    }

    .headerNavListItem {
        font-size: 1.6rem;
        font-weight: bold;
        margin: 0 0 0 3rem;
        position: relative;
    }

    .headerNavListItem,
    .headerNavListItem > a {
        height: 3rem;
        display: flex;
        align-items: center;
    }

    .headerNavListItem a {
        position: relative;
    }

    .headerNavListItem a::after{
        position: absolute;
        bottom: -4px;
        left: 0;
        content: '';
        width: 100%;
        height: 2px;
        background: #333;
        transform: scale(0, 1);
        transform-origin: left top;
        transition: transform .3s;
    }

    .headerNavListItem a:hover::after{
        transform: scale(1, 1);
    }

    .headerNavListItemChildren {
        height: 0;
        overflow: hidden;
        opacity: 0;
        padding: 0 2.5rem;
        transition: 0.5s;
        position: absolute;
        width: 22rem;
        box-shadow: 0 0.5rem 1rem rgba(0,42,108,0.2);
        background: black;
        left: 50%;
        transform: translateX(-50%);
        top: 6rem;
    }

    .headerNavListItem:hover .headerNavListItemChildren {
        height: auto; /*サブメニューの高さ*/
        overflow: visible;
        opacity: 1;
        transition: 0.5s;
        padding: 1.5rem 2.5rem;
    }

    /*target*/
    .targetSituationListItem {
        width: 30rem;
    }

    /*footer*/
    .articleListItem {
        display: flex;
        align-items: center;
        padding: 2rem 3rem;
    }

    .articleListItemHeader {
        margin: 0;
    }

    .articleListItemCategory {
        margin: 0 3rem 0 0;
    }

    .articleListItemPublished {
        margin: 0 3rem 0 0;
    }

    /*button*/

    /*footer*/
    .footerContent1 {
        padding: 8rem;
    }

    .footerBack {
        background-position: 50%,50%;
    }

    .footerMsg {
        font-size: 2.4rem;
        line-height: 4rem;
        margin: 0 0 2rem;
    }

    .footerTel {
        font-size: 3rem;
        line-height: 3rem;
        letter-spacing: 0.3rem;
        margin: 0 0 3.1rem;
    }

    .footerContent2 {
        padding: 7.3rem 0 6rem;
    }

    .footerContent2Main {
        display: flex;
        justify-content: space-between;
    }

    .footerLogo {
        margin: 0 0 2.42rem;
    }

    .footerInformation {
        text-align: left;
    }

    .footerContent2MainNav {
        display: flex;
        /*max-width: 65.4rem;*/
        /*flex-wrap: wrap;*/
    }

    .footerContent2MainNavList {
        display: flex;
    }

    .footerContent2MainNavList a {
        height: auto;
    }

    .footerContent2MainNavListItem {
        margin: 0 0 0 3rem;
        font-weight: bold;
    }

    .footerContent2MainNavListItem > p,
    .footerContent2MainNavListItem > a > p{
        margin: 0 0 1.6rem;
        height: 3rem;
    }

    .footerContent2MainNavListItemChildren {
        margin: 0 0 1.6rem;
        font-weight: normal;
    }

    .footerContent2MainNavListItemChildrenItem {
        margin: 0 0 1.6rem;
    }

    .footerContent2MainNavListItemChildrenItem:last-of-type {
        margin: 0;
    }

    .footerContent2MainNavListItemChildrenItem > p,
    .footerContent2MainNavListItemChildrenItem > a > p {
        margin: 0 0 1.6rem;
    }

    .footerContent2MainNavListItemChildrenChildren {
        color: var(--c6);
    }

    .footerContent2MainNavListItemChildrenChildrenItem {
        position: relative;
        padding: 0 0 0 0.75em;
        margin: 0 0 1.6rem;
    }

    .footerContent2MainNavListItemChildrenChildrenItem:before {
        content: "";
        display: block;
        width: 0.4em;
        height: 0.1rem;
        left: 0;
        top: 50%;
        position: absolute;
        transform: translateY(-50%);
        background:  var(--c6);
    }

    .footerContent2MainNavListItemChildrenChildrenItem:last-of-type {
        margin: 0;
    }

    .footerCR {
        font-size: 1.4rem;
        margin: 4.2rem 0 0;
    }
}

@media screen and (min-width :1366px) {
    .inner1 {
        padding: 0 18.3rem;
    }
}
