.myMv {
  height: 100vh;
  width: 100%;
  background-image: url("../img/bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 23rem 2rem 0;
}

@media screen and (min-width: 768px) {
  .myMv {
    padding: 23rem 10rem 0;
    font-size: 2.4rem;
  }
}

.myMv {
  line-height: 1.2;
}

.myMv h2 {
  color: #004954;
}

.myMv a {
  display: inline-block;
  position: absolute;
  width: initial;
  height: initial;
  right: 40px;
  bottom: 0;
  z-index: 2;
  padding: 10px 10px 110px;
  overflow: hidden;
  color: #004954;
  font-size: 14px;
  line-height: 1;
  letter-spacing: .2em;
  text-transform: uppercase;
  text-decoration: none;
  writing-mode: vertical-lr;
}

.myMv a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 1px;
  height: 100px;
  background: #004954;
}

.myMv a::after {
  animation: sdl 1.5s cubic-bezier(1, 0, 0, 1) infinite;
}

.mySectionTitle {
  font-size: 3rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .mySkillContents {
    display: flex;
    justify-content: center;
  }
}

.mySkillContent {
  background-color: #fff;
  padding: 3rem 2rem;
  box-shadow: 2px 2px 8px gray;
  margin: 2rem 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .mySkillContent {
    padding: 2rem 4rem;
    margin: 0  2rem;
  }
}

.mySkillContent img {
  height: 8rem;
  width: 8rem;
  margin: 0 auto 2rem;
}

.myAboutContent {
  text-align: center;
  padding: 2rem 0;
}

@keyframes sdl {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }
  50% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }
  50.1% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
}
